@keyframes entryleft {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes entryright {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
}

.container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/238/702/429/abstract-texture-hd-4k-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container span {
  display: flex;
  color: white;
  font: 500 2em "Roboto";
  margin-top: 3%;
  letter-spacing: 0.04857em;
  color:var(--golden-color);
}

.container span p:first-child {
  opacity: 0;
  animation: entryleft 1s ease 0.5s 1 normal forwards;
}

.container span p:last-child {
  opacity: 0;
  animation: entryright 1s ease 1s 1 normal forwards;
  
}

.container1 {
  width: 70%;
  position: relative;
  top: 2%;
  
}

.container1:hover img {
  filter: blur(3px);
}

.container1 button span:before,
.container1 button span:after {
  background-color: var(--golden-color);
}

.container1 nav button {
  background: var(--golden-color);
}

.container1 :nth-child(1){
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.parrafo {
  position: relative;
  letter-spacing: 0.5em;
  display: inline-block;
  width: 40em;
  border: 4px double var(--golden-color);
  border-width: 4px 0;
  padding: 1.5em 0;
  background-color: rgba(56, 55, 55, 0.137);
}

.parrafo span {
  font: 700 4em/1 "Roboto", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--golden-color);

  text-shadow: 0 0 80px rgba(224, 220, 220, 0.705);


  background: url(https://fondosmil.com/fondo/28195.jpg) repeat-x;
  -webkit-background-clip: text;
  background-clip: text;


  -webkit-text-fill-color: transparent;
  animation: aitf 80s linear infinite;


  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.techContainer{
  display: flex;
}

.tecn{
  position: relative;
  background-color:rgba(56, 55, 55, 0.137);
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tecn span{
  color:var(--golden-color);
}

.video{
  position: absolute;
}

a:link,a:visited,a:focus{
text-decoration: none;
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 1020px) {
  .parrafo {
    padding: 0.5em 0;
    width: auto;
  }

  .parrafo span {
    font-size: 1.5em;
  }

  .container1:hover img {
    filter: none;
  }
  .tecn{
    font-size: 0.7em;
  }
}

@media (max-width: 740px){
  .tecn{
    font-size: 0.5em;
  }
}

@media(max-width:500px){
    .container span{
        font-size: 1.5em;  
    }
    .tecn{
      font-size: 0.3em;
    }
}
