@keyframes entryleft {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes entryright {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
}

.background {
  background-image: url(https://static.vecteezy.com/system/resources/previews/019/857/314/large_2x/gradient-black-background-with-wavy-lines-free-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  color: white;
  margin-top: 4%;
  font: 500 2em "Roboto";
  letter-spacing: 0.04857em;
}

.contact p:first-child {
  opacity: 0;
  animation: entryleft 1s ease 1s 1 normal forwards;
  color: var(--golden-color);
}

.contact p:last-child {
  opacity: 0;
  animation: entryright 1s ease 1.5s 1 normal forwards;
  color: var(--golden-color);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 35%;
}

.input {
  width: 100%;
}

.form span {
  color: white;
  margin: 15px 0px;
}

.errors {
  color: red;
  height: 20px;
}

@media (max-width: 520px) {
  .form {
    width: 65%;
    margin-top: 0;
  }
  .errors {
    margin: 0px 0 15px;
  }
  .contact {
    margin-top: 0;
    font-size: 1.5em;
  }
}

@media (max-width: 360px) and (max-height: 670px) {
  .contact p {
    margin: 6px 0;
  }
}
