body {
  margin: 0;
  background-color: rgb(75, 75, 75);
  background-image: url(https://p1.pxfuel.com/preview/81/926/353/background-texture-metal-scratches.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
