@keyframes entryleft {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes entryright {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
}

.tecnologias {
  display: flex;
  margin-top: 10%;
  font: 500 2.5em "Roboto";
  letter-spacing: 0.04857em;
  justify-content: center;
  color: var(--golden-color);
  -webkit-text-stroke: 0.8px black;
}

.tecnologias p:first-child {
  opacity: 0;
  animation: entryleft 1s ease 0.5s 1 normal forwards;
}

.tecnologias p:last-child {
  opacity: 0;
  animation: entryright 1s ease 1s 1 normal forwards;
}

.containerF {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px;
}

.container img {
  height: 95px;
}

@media (max-width: 500px) {
  .container img {
    height: 45px;
  }
  .tecnologias {
    font-size: 2em;
  }
}

@media (max-width: 295px) {
  .container {
    margin: 0;
  }
}
